<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <script src="/js/thumbsUp.js"></script>
    <script src="/js/thumbsDown.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Top 20 Articles</h1>
          <header>
            <% include ./partials/header %>
          </header>
          <br>
          <% articles.forEach(function(article){ %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-gratipay"></i>
                <span id="<%= article.id %>"><%= article.votes %></span>
                <div class="btn-group" style="float:right;">
                  <button onclick="thumbsUp('<%= article.id %>')" type="button" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                  <button type="button" onclick="thumbsDown('<%= article.id %>')" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                <div class="media">
                  <div class="media-body">
                    <h4 class="media-heading"><%= article.title %></h4>
                    <%= article.content %>    
                    <div class="clearfix"></div>                
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>